body {
  margin: 0;
  font-family: 'Muli','Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;

@tailwind components;

@tailwind utilities;

input[data-error]{
  @apply border-red-700 ;
}
input[data-error]:hover{
  @apply border-red-700 ;
}

.slidebar{
  @apply bg-white ;
}

.slidebar__logo{
  @apply text-2xl text-blue-500 font-bold  text-center py-4;
}
.slidebar__link{
  @apply text-gray-700 w-full py-3 pl-6 inline-block font-semibold;
}

.slidebar__link:hover{
  @apply text-blue-600;
}
.slidebar__link--active{
  @apply text-white bg-blue-500 font-bold;
}
.slidebar__link--active:hover{
  @apply text-white;
}
.slidebar__icon{
  fill : #4a5568;
}
.slidebar__link:hover  .slidebar__icon{
  fill : #4299e1;
}
.slidebar__link--active  .slidebar__icon{
  fill : white;
}
.slidebar__link--active:hover  .slidebar__icon{
  fill : white;
}
@keyframes showPopup {
  from{
    transform: translateY(-6vh);
  }
  to {
    transform: translateY(3vh);
  }
}

#popup{
  /* transition: transform 5s; */
  animation-duration: .6s;
  transform: translateY(-6vh);

}
